body{
	background-color: #f3f3f5;
	margin: 0;
	padding: 0;
}
.nav-colored { 
	background-color: #f1f1f3;
}
.nav-transparent { 
	background-color:transparent;
}
.navbar-default{
	margin-bottom: 0;
	border: 0;
	li:hover{
		background-color: $morado;
		color: white;
	}
	a{
		color: white;
		font-size: 20px;
	}
}
 
#header{
	background-image: url(../img/fondito.jpg);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
	h1{
		font-family: $shadow;
		font-size: 100px;
		color: rgba(255,255,255,0.82);
		margin-top: 200px;
	}
	h4{
		color: rgba(0,0,0,0.65);
		font-size: 50px;
		position: absolute;
		z-index: 1000;
		font-weight: bold;
	}
}

#about{
	margin-top: 10px;
	color: $gris-oscuro;
	font-family: $raleway;
	margin-bottom: 25px;
	.text-about{
		margin-top: 70px;
		h1{
			font-size: 4em;
		}
		p{
			font-size: 25px;
			padding-left: 30px;
			padding-top: 25px;
		}
	}
	img{
		opacity: 0.5;
		margin: 80px;
		width: 80%;
	}
}

#tools{
	padding: 70px 0;
	background-color: $morado;
	color: $gris-claro;
	font-family: $raleway;
	h1{
		font-size: 4em;
	}
	img{
		width: 50%;
	}
}

#proyects{
	padding: 70px 0;
	font-family: $raleway;
	h1{
		font-size: 4em;
	}
	h2{
		color: $linen;
	}
	.all{
		padding: 50px 0;
	}
	.caja {
 		position: relative;
 		.image {
		  display: block;
		  width: 100%;
		  height: auto;
		}
		.overlay {
		  position: absolute;
		  top: 0;
		  bottom: 0;
		  left: 0;
		  right: 0;
		  height: 100%;
		  width: 100%;
		  opacity: 0;
		  transition: .5s ease;
		  background-color: $morado;
		.text {
		  color: white;
		  font-size: 20px;
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  transform: translate(-50%, -50%);
		  -ms-transform: translate(-50%, -50%);
		}
		}
	}
	a{
		color: $gris-claro;
		font-size: 2em;
		&:hover{
			color: $latte;
		}
	}
	.caja:hover .overlay {
		opacity: 1;
	}
}

footer{
	padding: 70px 0 40px 0;
	font-family: $raleway;
	background-image: url(../img/contact.jpg);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    opacity: 0.8;
	h1{
		font-size: 4em;
		color: $azul-oscuro;
	}
	a{
		color: $azul-claro;
		font-size: 3.5em;
		padding: 10px 20px;
		&:hover{
			background-color: $azul-oscuro;
			color: $linen;
		}
	}
	.container{
		border-bottom: 2px solid $gris-claro;
	}
	p{
		margin-top: 30px;
	}
	.dos{
		margin-top: -12px;
	}
}
