$comforta: 'Comfortaa', cursive;
$raleway: 'Raleway', sans-serif;

$gris-oscuro: #626d71;
$gris-claro: #cdcdc0;
$latte: #ddbc95;
$coffe: #b38867;

$linen: #eae2d6;
$oyster: #d5c3aa;
$pewter: #867666;
$lemon: #e1b80d;