$comforta: 'Comfortaa', cursive;
$raleway: 'Raleway', sans-serif;
$shadow: 'Shadows Into Light Two', cursive;
$kaushan: 'Kaushan Script', cursive;
$rock: 'Rock Salt', cursive;
$covered: 'Covered By Your Grace', cursive;

$gris-oscuro: #626d71;
$gris-claro: #cdcdc0;
$latte: #ddbc95;
$coffe: #b38867;

$linen: #eae2d6;
$oyster: #d5c3aa;
$pewter: #867666;
$lemon: #e1b80d;

$rojo: #c34b56;
$morado: #452c50;
$verde-claro: #24ae92;
$verde-oscuro: #16a086;
$azul-claro: #34495e;
$azul-oscuro: #2d3e50;
$gris: #343434;
$celeste: #55858d;
$rosadito: #ce0d55;

$small: 700px;