body {
  background-color: #f3f3f5;
  margin: 0;
  padding: 0; }

.navbar-default {
  margin-bottom: 0;
  border: 0;
  background-color: #34495e; }
  .navbar-default li:hover {
    background-color: #24ae92; }
  .navbar-default a {
    color: #24ae92;
    font-size: 20px; }

#header {
  background-image: url(../img/pc.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px; }
  #header h1 {
    font-family: "Comfortaa", cursive;
    font-size: 100px;
    color: rgba(255, 255, 255, 0.82);
    margin-top: 180px;
    padding-left: 67px; }
  #header h4 {
    color: rgba(0, 0, 0, 0.65);
    font-size: 50px;
    position: absolute;
    z-index: 1000;
    font-weight: bold;
    padding-left: 540px; }

#about {
  margin-top: 10px;
  color: #626d71;
  font-family: "Raleway", sans-serif;
  margin-bottom: 25px; }
  #about .text-about {
    margin-top: 70px; }
    #about .text-about h1 {
      font-size: 5em; }
    #about .text-about p {
      font-size: 25px;
      padding-left: 30px;
      padding-top: 25px; }
  #about img {
    opacity: 0.5;
    margin: 80px;
    width: 80%; }

#tools {
  padding: 70px 0;
  background-color: #16a086;
  color: #cdcdc0;
  font-family: "Raleway", sans-serif; }
  #tools h1 {
    font-size: 5em;
    color: #2d3e50; }
  #tools .caja-tools {
    padding: 20px 0; }
    #tools .caja-tools i {
      color: #cdcdc0;
      font-size: 100px; }

#proyects {
  padding: 70px 0;
  font-family: "Raleway", sans-serif; }
  #proyects h1 {
    font-size: 5em; }
  #proyects h2 {
    color: #eae2d6; }
  #proyects .all {
    padding: 50px 0; }
  #proyects .caja {
    position: relative; }
    #proyects .caja .image {
      display: block;
      width: 100%;
      height: auto; }
    #proyects .caja .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: #626d71; }
      #proyects .caja .overlay .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%); }
  #proyects a {
    color: #cdcdc0;
    font-size: 2em; }
    #proyects a:hover {
      color: #ddbc95; }
  #proyects .caja:hover .overlay {
    opacity: 1; }

footer {
  padding: 70px 0 40px 0;
  font-family: "Raleway", sans-serif;
  background-image: url(../img/contact.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  opacity: 0.8; }
  footer h1 {
    font-size: 5em;
    color: #2d3e50; }
  footer a {
    color: #34495e;
    font-size: 3.5em;
    padding: 10px 20px; }
    footer a:hover {
      background-color: #2d3e50;
      color: #eae2d6; }
  footer .container {
    border-bottom: 2px solid #cdcdc0; }
  footer p {
    margin-top: 30px; }

/*# sourceMappingURL=main.css.map */
